# Fonte: https://github.com/DSpace/DSpace/blob/main/docker-compose.yml
# Adptador por: Douglas Fernandes / UFPB
#
# The contents of this file are subject to the license and copyright
# detailed in the LICENSE and NOTICE files at the root of the source
# tree and available online at
#
# http://www.dspace.org/license/
#
# Docker Compose for running the DSpace Angular UI for testing/development
# Requires also running a REST API backend (either locally or remotely),
# for example via 'docker-compose-rest.yml'
# networks:
#   dspacenet:
networks:
  dspacenet:
    name: dspacenet
    external: true

services:
  dspace-angular:
    container_name: dspace-angular
    environment:
      DSPACE_UI_SSL: "${DSPACE_SSL}"
      DSPACE_UI_HOST: "${DSPACE_HOST}"
      DSPACE_UI_PORT: ${UI_PORT}
      DSPACE_UI_NAMESPACE: /
      DSPACE_REST_SSL: "${DSPACE_SSL}"
      DSPACE_REST_HOST: "${DSPACE_HOST}"
      DSPACE_REST_PORT: "${REST_PORT}"
      DSPACE_REST_NAMESPACE: /server
      DSPACE_DEFAULTLANGUAGE: 'pt-BR'
    image: "${DOCKER_REGISTRY:-docker.io}/${DOCKER_OWNER:-dspace}/dspace-angular:${DSPACE_VER:-dspace-8_x}"
    networks:
      dspacenet:
    ports:
      - published: ${UI_PORT}
        target: 4000
      - published: 9876
        target: 9876
    volumes:  
      - ./config-ui/config.yml:/app/config/config.yml
      - ./img/logo.svg:/app/src/assets/images/dspace-logo.svg
      - ./img/banner.webp:/app/src/themes/dspace/assets/images/banner.webp
      - ./img/banner.jpg:/app/src/themes/dspace/assets/images/banner.jpg
      - ./img/favicon.ico:/app/src/assets/images/favicon.ico 
      - ./html/home-news.component.html:/app/src/themes/dspace/app/home-page/home-news/home-news.component.html 
      - ./html/footer.component.html:/app/src/app/footer/footer.component.html 
    stdin_open: true
    tty: true
